.navbar {
  background: linear-gradient(90deg, rgb(88, 175, 54) 0%, rgb(26, 23, 23) 100%);
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.3rem;
  position: relative;
}

.nav-menu {
  display:flex;
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 60vw;
  margin-right: 2rem;
}

.nav-item {
  height: 60px;
}

/* Costumize nav items */
.nav-links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

/* Line below the tab when cursor points */
.nav-links:hover {
  border-bottom: 4px solid rgb(255, 255, 255);
  transition: all 0.2s ease-out;
}


@media screen and (max-width: 1080px) {
  .NavbarItems {
    position: relative;
  }
}
